:root{

    --maincolor:#383e56;
    --secondarycolor:#3d4258;
    --bordercolor:#c1c1c1;
    --mainText:rgb(0, 0, 0);
    --secondaryText:#4b5156;
    --themedotborder:#24292E;
    --shadow: #eb8242;
    --previewbackground:white;
    --buttoncolor : black;
}
