:root{
    --maincolor:#4a536b;
    --secondarycolor:#60758d;
    --bordercolor:#c1c1c1;
    --mainText:rgb(0, 0, 0);
    --secondaryText:#4b5156;
    --themedotborder:#24292E;
    --shadow: #ff8a8d;
    --previewbackground:white;
    --buttoncolor : black;
    
}
